<main class="page">
    <h1>All recipes</h1>
    
    <section class="recipes-container">
      <!-- tag container -->
     
      <!-- end of tag container -->
      <!-- recipes list -->
      <div class="recipes-list">
      <ng-container *ngFor="let recipe of recipeList" >
        <!-- single recipe -->
        <a routerLink="/recipes/detail/{{recipe._id}}" class="recipe">
          <img  src="{{recipe.imageUrl}}"
            class="img recipe-img"
            alt=""
          />
          <h5>{{recipe.title}}</h5>
          <p>Prep : {{recipe.prepTime}} | Cook : {{recipe.cookTime}}</p>
        </a>

        <!-- end of single recipe -->
             
        
      </ng-container>
     </div>
    </section>
  </main>